@charset "utf-8";
/* CSS Document */
#menuContain {
	width: 100%;
	margin-top: 0px;
}
#menuIcon {
	display: block;
	font-size: 30px;
	height: 40px;
	width: 40px;
	padding: 0;
	line-height: 40px;
	color: #ffffff;
	background-color: #FF8598;
	float: right;
	cursor: pointer;
	z-index: 1000;
	position: fixed;
	right: 0;
	top: 0;
	border-left: 1px solid #FFC0A9;
}
#menuBar {
	font-size: 18px;
	list-style-type: none;
	font-weight: bold;
	float: right;
	width: 120px;
	margin-top: 40px;
	padding: 0;
	display: none;
}
.menuSelect {
	width: 118px;
	height: 40px;
	float: none;
	background-color: #FFC0A9;
	line-height: 40px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,133,152,1.00) 0%,rgba(255,192,169,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,133,152,1.00) 0%,rgba(255,192,169,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,133,152,1.00) 0%,rgba(255,192,169,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,133,152,1.00) 0%,rgba(255,192,169,1.00) 100%);
	border: 1px solid #FFFFFF;
	text-align: left;
	text-indent: 10px;
}
.menuNonSelect {
	width: 118px;
	height: 40px;
	float: none;
	line-height: 40px;
	background-color: #FF8598;
	border: 1px solid #FFFFFF;
	text-align: left;
	text-indent: 10px;
}
.menuNonSelect:hover {
	width: 120px;
	height: 40px;
	float: none;
	background-color: #FFC0A9;
	line-height: 40px;
}
#menuLogo {
	width: 180px;
	height: 70px;
	background-image: url(../img/head.png);
	background-repeat: no-repeat;
	background-size: 0% auto;
	background-color: #FF8598;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	position: absolute;
	left:0;
	margin-top:-40px;
}
.PinkBack {
	background-color: #FF8598;
	height: 40px;
}
.logoTitle {
	font-size: 30px;
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
}
.logoDescribe {
	width: 100%;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

#footer {
	width: 100%;
	background-color: #FF8598;
	padding-left:0px;
	padding-right:0px;
	height:250px;
}
.footerInfoTxt {
	padding-top: 0px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 2px 2px 5px #662D91;
}
.footerInfo1 {
	float: none;
	padding-top: 13px;
	width: 100%;
	height: 40px;
	background-color: #FF8598;
	line-height: 40px;
}
.footerInfo2 {
	float: none;
	padding-top: 13px;
	width: 100%;
	background-color: #FF8598;
	height: 40px;
	line-height: 40px;
}
.footerInfo3 {
	float: none;
	padding-top: 13px;
	width: 100%;
	height: 40px;
	background-color: #FF8598;
}
.footerInfo4 {
	float: none;
	padding-top: 13px;
	width: 100%;
	background-color: #FF8598;
	height: 40px;
}
.footerInfoImg1 {
	float: left;
	padding-right: 5px;
	width: 75px;
	height: 40px;
	background-image: url(../img/phone.png);
	background-repeat: no-repeat;
	padding-left: 0px;
	background-position: center 0%;
	background-size: auto 40px;
}
.footerInfoImg2 {
	float: left;
	padding-right: 5px;
	width: 75px;
	height: 40px;
	background-image: url(../img/mail.png);
	background-repeat: no-repeat;
	padding-left: 0px;
	background-position: center 0%;
	background-size: auto 40px;
}
.footerInfoImg3 {
	float: left;
	padding-right: 5px;
	width: 75px;
	height: 40px;
	background-image: url(../img/FBandGplus.png);
	background-repeat: no-repeat;
	padding-left: 0px;
	background-position: center 0%;
	background-size: auto 40px;
}
.footerInfoImg4 {
	float: left;
	padding-right: 5px;
	width: 75px;
	height: 40px;
	background-image: url(../img/copyright.png);
	background-repeat: no-repeat;
	padding-left: 0px;
	background-position: center 0%;
	background-size: auto 40px;
}
#footerContain {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}
#mainContain {
	width: 100%;
	margin-right: auto;
	margin-left: auto;

}
.mainPic {
	float: none;
	margin-left: 0px;
	margin-top: 15px;
	width: 100%;
	height: 333px;
	background-image: url(../img/indexBG_S.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.mainSlogan {
	width: 100%;
	float: none;
	color: #FF8598;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	line-height: 10px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}
.mainSelect {
	list-style-type: none;
	font-size: 14px;
	line-height: 100px;
	width: 100%;
	padding-top: 0px;
	float: none;
	margin-top: 0px;
	margin-left: -40px;
}
.mainSelect_S {
	width: 318px;
	margin-left:auto;
	margin-right:auto;
}
.mainSelectItem {
	background-image: url(../img/greenBTN.png);
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	margin-bottom: 10px;
	background-size: 100px auto;
}
.mainSelectItem:hover {
	background-image: url(../img/pinkBTN.png);
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	float: left;
	background-size: 100px auto;
}
.mainBigTxt {
	font-size: 26px;
}
#mainContainPAGE {
	padding-top: 100px;
}
.mainTitle {
	color: #C9D787;
	font-size: 45px;
	font-weight: bold;
	width: 100%;
	border-bottom: 1px solid #FFC0A9;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	text-align: center;
}
.mainTitlePink {
	color: #FFC0A9;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #FFC0A9;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
}
.resumeItem {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
.resumeItemLeft {
	width: 300px;
	height: 80px;
	background-color: #C9D787;
	float: none;
	color: #7D8A2E;
	font-size: 24px;
	font-weight: bold;
	line-height: 80px;
	border-radius: 50px;
	margin-left:auto;
	margin-right:auto;
}
.resumeItemLeftPink {
	width: 300px;
	height: 47px;
	background-color: #FFC0A9;
	float: none;
	border-radius: 50px;
	padding-top: 16px;
	padding-bottom: 17px;
	margin-left:auto;
	margin-right:auto;
}
.greenBold {
	color: #7D8A2E;
	font-weight: bold;
	text-align: lefts;
	font-size: 20px;
	border-top: 2px dotted #C9D787;
}
.resumeDATE{
	color: #C9D787;
	font-weight: bold;
	display: block;
}
.resumeItemRight {
	text-align: left;
	float: none;
	padding-left: 0px;
	width: 280px;
	border-bottom: 3px dotted #C9D787;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	clear: both;
	padding-top: 10px;
}
.resumeItemRightPink {
	text-align: center;
	float: none;
	padding-left: 0px;
	width: 300px;
	border-bottom: 3px dotted #FFC0A9;
	margin-bottom: 10px;
	margin-left:auto;
	margin-right:auto;
	font-size: 18px;
	clear:both;
	padding-top:10px;
}

.projectItem {
	margin-bottom: 20px;
	border-bottom: 1px solid #FFC0A9;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 30px;
}
.projectItemLeft {
	width: 300px;
	float: none;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.projectItemRight {
	float: none;
	width: 300px;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
}
.projectTitle {
	border-bottom: 1px solid #FFC0A9;
	padding-bottom: 10px;
}
.projectDescribe {
	color: #000000;
	text-align: left;
	font-size: 18px;
}
.projectTitleRec {
	background-image: url(../img/project.png);
	width: 121px;
	height: 121px;
	background-repeat: no-repeat;
	line-height: 0em;
	margin-left:auto;
	margin-right:auto;
}
.TXT18 {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 28px;
}
.TXT36 {
	color: #FFFFFF;
	font-size: 28px;
	font-weight: bold;
}
.projectPhoto {
	width: 300px;
	height: 225px;
	background-color: #C9D787;
	float: none;
	border-radius: 20px;
	margin-left:0px;
}
.projectPhotoFrame {
	width: 270px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	float: none;
	position: relative;
}
.projectDownContain {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}
.projectDownTXT {
	text-align: left;
	color: #662D91;
	font-size: 16px;
	float: left;
	line-height: 20px;
	width:50%;
	float:left;
	padding-left:10px;
}
.LetsTalk {
	width: 121px;
	height: 121px;
	background-image: url(../img/pinkBTN.png);
	color: #FFFFFF;
	line-height: 121px;
	text-align: center;
	float: right;
	background-repeat: no-repeat;
	padding-right:10px;
}
.contactContain {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.mainContact {
	text-align: center;
	float: none;
	width: 300px;
	color: #662D91;
	font-size: 18px;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}
.mainForm {
	float: none;
	text-align: center;
}
.InputPink {
	width: 90%;
	height: 40px;
	background-color: #FFC0A9;
	border-radius: 10px;
	color: #662D91;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	text-align: left;
	border-width: 0px;
	text-indent: 5%;
}
.InputGreen {
	width: 90%;
	height: 40px;
	background-color: #C9D787;
	border-radius: 10px;
	color: #662D91;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	text-align: left;
	border-width: 0px;
	text-indent: 5%;
}
.InputMessage {
	width: 80%;
	color: #662D91;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	border-width: 0px;
	border-radius: 10px;
	background-color: #C9D787;
	padding-top: 10px;
	padding-right: 5%;
	padding-bottom: 10px;
	padding-left: 5%;
	overflow-x: auto;
	overflow-y: auto;
	height: 180px;
	font-family: "Century Gothic", "微軟正黑體", sans-serif;
}
.contactBTN {
	text-align: right;
	padding-right: 5%;
}
.mainFormSend {
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	color: #FFFFFF;
	margin-top: 5px;
	background-color: #662D91;
}
